@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(236, 147, 236);
}

nav {
  font-family: 'Handjet', cursive;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: rgb(33, 33, 33);
  color: white;
}

nav ul li {
  padding: 0 28px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.9rem;
}

.brand img {
  width: 70px;
  padding: 0 5px;
}

.container {
  min-height: 73vh;
  background-color: black;
  color: white;
  font-family: 'Handjet', cursive;
  display: flex;
  width: 65%;
  margin: 23px auto;
  border-radius: 12px;
  padding: 34px;
  background-image: url('bg1.jpg');
}

.bottom {
  background-color: rgb(0, 0, 0);
  color: white;
  position: sticky;
  height: 130px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-top: 15px;
}

.icon i {
  cursor: pointer;
  margin: 3px;
}

#Progressbar {
  width: 80vw;
  cursor: pointer;
}

.songItem {
  height: 50px;
  display: flex;
  background-color: rgb(9, 5, 5);
  color: rgb(249, 240, 240);
  width: 80%;
  margin: 12px 0px;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
}

.songItemContainer {
  margin-top: 54px;
}

.songItem img {
  width: 43px;
  margin: 0 23px;
  border-radius: 34px;
}

.songlistplay i {
  margin: 5px;
}

.timestamp {
  margin: 0 25px;
}

.timestamp i {
  cursor: pointer;
}

.songInfo {
  position: absolute;
  left: 11vw;
}

.songInfo span {
  margin: 2px;
}

.songInfo img {
  opacity: 10;
  margin-top: 30px;
  transition: opacity 0.4 is ease-in;
}
